body {
    font-family: 'Arimo', sans-serif;
}

h1 {
    font-size: 72px;
    max-width: 200px;
    margin: 0;
    margin: 32px 0;
    line-height: 1;
}

h2 {
    font-size: 18px;
    margin-bottom: 18px;
    color: #363636;
    font-weight: 200;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.projects div {
    margin-bottom: 120px;
}

.last-project {
    margin-bottom: 0 !important;
}

.projects img {
    width: 800px;
}

footer {
    font-size: 14px;
    text-align: center;
    margin: 42px 0;
}